<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="0.1.0" package="com.ariesmax" android:installLocation="internalOnly">
  <uses-sdk android:minSdkVersion="25" android:targetSdkVersion="30" />
  <application android:label="AriesMax" android:allowBackup="false" android:fullBackupOnly="false"></application>
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.CAMERA" />
</manifest>